body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(/../images/home/body-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-wrapper {
    margin: 0 auto 0 auto;
}

header {
    width: 100%;
    height: auto;
    background-color: hsl(94, 75%, 22%);
    position:sticky; 
    left: 0px;
    top: 0px;
    color: white;
    font-size: larger;
    z-index: 6;
}

.banner {
    height: 200px;
    width: auto;
    background-image: url(/../images/home/banner.png);
    background-size: cover; 
    position: fixed;
}

.nav-link {
  color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 40px;
}

nav ul li:hover{
    background-color: #ffffff;
    height: 100%;
    width: fit-content;
}

.nav-link:hover {
    color: hsl(94, 75%, 22%);
}

.nav-link:focus {
    color: white;
}


nav ul li {
    display: flex;
    padding: 0px 10px;
}

.navbar-toggler {
 
}


.site-footer
{
    background-color:hsl(94, 75%, 22%);
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#ffffff;
    display: flex;
    align-items: center;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-footer hr
{
  border-top-color:rgb(255, 255, 255);
  opacity:0.5
}

.site-footer hr.small
{
  margin:20px 0
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#ffffff;
}

.site-footer a:hover
{
  color:#ffffff;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none;
}

.footer-links li
{
    display:block;

}

.footer-links a
{
    color:#ffffff;
    text-decoration: none;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fcfcfc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}



@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}

.tcb-product-slider {
  background:hsl(94, 75%, 22%);
  padding: 20px 0;
}

.tcb-product-slider .carousel-control {
  width: 10%;
}
.tcb-product-item a {
  color: #000000;
}
.tcb-product-item a:hover {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
.tcb-product-photo {
  text-align: center;
  height: 180px;
  background: #fff;
}
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}